[package]
name = "monocoque-zmtp"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "ZMTP 3.1 protocol implementation for Monocoque"
keywords = ["zmq", "zeromq", "zmtp", "messaging", "protocol"]
categories = ["network-programming"]
homepage = "https://github.com/vorjdux/monocoque"
documentation = "https://docs.rs/monocoque-zmtp"
readme = "../README.md"

[dependencies]
bytes.workspace = true
thiserror.workspace = true
flume.workspace = true
futures.workspace = true
compio.workspace = true
monocoque-core = { version = "0.1.0", path = "../monocoque-core" }

[dev-dependencies]
zmq.workspace = true
